/*#container {
    position : relative;
    width    :100%;
}
#container img {
    position : absolute;
    width    : 100%;
    top:50%;
    left:50%;
}
*/

* {
    padding: 0px;
    margin: 0px
}

@font-face {
    font-family: chalk;
    src: url('../stylesheet/chalkdust.ttf');
}

@font-face {
    font-family: lighthouse;
    src: url('../stylesheet/Lighthouse.ttf');
}

body, html{
	width:100%;
	height:100%;
	background:#000;
}
#header{
	width:100%;
	z-index:49;
}
#logo{
	position:absolute;
	top:30px;
	left:50px;
	z-index:51;
	width:400px;
}
#logo img{
	/*width:400px;*/
	width:100%;
	height:auto;
}

#slide{
	position:relative;
	width:100%;
	height:auto;
	min-width:1200px;
	background-image:url('../images/wall_back.png');
	background-size:100% 100%;
	z-index:49;
	opacity:1;
}

#slide > .ground{
	position:absolute;
	bottom:0px;
}

#slide > #wall{
	width:100%;
	height:auto;	
}

#slide > .stool{
	width:14%;
	height:auto;
}


#slide > #bar{
	left:6%;
	width:88%;
	height:auto;
	bottom:6%;
}

#slide > .fridge{
	left:40%;
	width:22%;
	height:10%;
	bottom:60%;
}

.ice{
	position:relative;
	background:#000;
	opacity:0.0;
	width:15%;
	height:100%;
	display:inline-block;
	cursor:pointer;
}

#slide > #flavors{
	left:44%;
	bottom:80%;
	height:10%;
}

h1{
	font-family: lighthouse;
	color:#fff;
	opacity:0.7; 
	font-size:24px;
}


#slide > #stool1{
	left:12%;
}
#slide > #stool2{
	left:24.8%;
}
#slide > #stool3{
	left:37.6%;
}
#slide > #stool4{
	left:50.5%;
}
#slide > #stool5{
	left:63.3%;
}
#slide > #stool6{
	left:76%;
}


#control{
	position:absolute;
	width:100%;
	top:40%;
	height:10%;
	opacity:0.7;
	
}
#control:hover{
	opacity:1;
}


.hide{
	display:none;
}

.hit{
	display:inline;
}

#left{
	height:100%;
	width:auto;
	float:left;
}
#right{
	height:100%;
	width:auto;
	float:right;
}
#nav{
	width:100%;
	min-width:1200px;
	height:150px;
	background:#000000;
	color:#ffffff;
	z-index:50;
	text-align:center;
}

#content{
	position:relative;
	width:100%;
	min-width:1200px;
	z-index:49;
	height:auto;
	background:#fff;
	opacity:1;
}

#bell{
	position:absolute;
	width:100%;
	height:auto;
	top:-150px;
	text-align:center;
	z-index:100;
}
#bell img{
	cursor:pointer;
}
.box{
	position:relative;
	width:100%;
	height:auto;;	
	text-align:center;
	min-height:800px;
	min-width:1200px;
}

.innerBox{
	max-width:1400px;
	width:80%;
	height:auto;
	margin:auto;
}

.banner{
	width:50%;
	height:auto;
	margin-top:5%;
}

.team{
	width:200px;
	height:auto;
	display:inline-block;
}

.team img{
	width:100%;
	height:auto;
}

.team .overlay{
	position:absolute;
	background-color:rgba(54, 54, 54, .6);
	height:200px;
	width:200px;
	opacity:0;
	text-align:center;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index:101;
}
.overlay p{
	color:#fff;
	padding-top:50%
}

.overlay:hover{
	opacity:1;
}
.text{
	width:50%;
	height:auto;
	margin:auto;
	padding-top:5%;
	font-size:24px;
	font-family:rockwell;
}

#box2{
	min-height:0px;
	/*background:url('../images/service_bg.png') 50% 0 repeat fixed;
	background-size:cover;*/
}

#box3{
	background:url('../images/sp1.png') 40% 0 repeat fixed;
	background-size:cover;
}

#box4{
	background:url('../images/sp6.png') 50% 0 repeat fixed;
	background-size:cover;
}

#box5{
	background:url('../images/sp3.png') 50% 0 repeat fixed;
	background-size:cover;
}

#box6{
	background:url('../images/sp2.png') 50% 0 repeat fixed;
	background-size:cover;
}
#box7{
	background:url('../images/sp5.png') 50% 0 repeat fixed;
	background-size:cover;
}
#box8{
	background:url('../images/pa_bg.png') 50% 0 repeat fixed;
	background-size:cover;
}


#tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
  left:60%;
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } /* Must be full height of sprite or skipping will happen.*/
}


@media screen and (max-width: 1400px) {
   h1{
        font-size:18px ; /* Base font-size of 32px */
    }
}

#video_background {
position:absolute;
top:0px;
right: 0px;
width:100%;
height:auto;
z-index:-1;
overflow: hidden;
opacity:0.5;
}




