/*#container {
    position : relative;
    width    :100%;
}
#container img {
    position : absolute;
    width    : 100%;
    top:50%;
    left:50%;
}
*/

* {
    padding: 0px;
    margin: 0px
}

@font-face {
    font-family: chalk;
    src: url('../stylesheet/chalkdust.ttf');
}

body, html{
	width:100%;
	height:100%;
}
#header{
	width:100%;
	z-index:49;
}
#logo{
	position:absolute;
	top:30px;
	left:50px;
	z-index:51;
}
#logo img{
	width:400px;
	height:auto;
}

#slide{
	position:relative;
	width:100%;
	height:auto;
	min-width:1024px;
	min-height:500px;
	background-image:url('../images/wall_back.png');
	background-size:100% 100%;
	z-index:49;
}

#slide > .ground{
	position:absolute;
	bottom:0px;
}

#slide > #wall{
	width:100%;
	height:auto;	
}

#slide > .stool{
	width:14%;
	height:auto;
}


#slide > #bar{
	left:6%;
	width:88%;
	height:auto;
	bottom:6%;
}

#slide > .fridge{
	left:40%;
	width:22%;
	height:10%;
	bottom:60%;
}

.ice{
	position:relative;
	background:#000;
	opacity:0.0;
	width:15%;
	height:100%;
	display:inline-block;
	cursor:pointer;
}

#slide > #flavors{
	font-family: chalk;
	color:#fff;
	opacity:0.9; 
	left:38%;
	bottom:80%;
	height:10%;
}


#slide > #stool1{
	left:12%;
}
#slide > #stool2{
	left:24.8%;
}
#slide > #stool3{
	left:37.6%;
}
#slide > #stool4{
	left:50.5%;
}
#slide > #stool5{
	left:63.3%;
}
#slide > #stool6{
	left:76%;
}


#control{
	position:absolute;
	width:100%;
	top:40%;
	height:10%;
	opacity:0.7;
	
}
#control:hover{
	opacity:1;
}


.hide{
	display:none;
}

.hit{
	display:inline;
}

#left{
	height:100%;
	width:auto;
	float:left;
}
#right{
	height:100%;
	width:auto;
	float:right;
}
#nav{
	width:100%;
	min-width:1024px;
	height:150px;
	background:#000000;
	color:#ffffff;
	z-index:50;
	text-align:center;
}

#content{
	position:relative;
	width:100%;
	min-width:1024px;
	z-index:49;
	min-height:900px;
	background:#000;
}

#bell{
	position:absolute;
	width:100%;
	height:auto;
	top:-150px;
	cursor:pointer;
	text-align:center;
}

.box{
	width:100%;
	height:auto;;	
	text-align:center;
	min-height:900px;
}


#box1{
	background:url('../images/sp1.jpg') 50% 0 repeat fixed;
	background-size:cover;
}
#box2{
	background:url('../images/sp2.jpg') 50% 0 repeat fixed;
	background-size:cover;
}

#box3{
	background:url('../images/sp3.jpg') 50% 0 repeat fixed;
	background-size:cover;
}

#box4{
	background:url('../images/sp4.jpg') 50% 0 repeat fixed;
	background-size:cover;
}

#box5{
	background:url('../images/sp5.jpg') 50% 0 repeat fixed;
	background-size:cover;
}

#box6{
	background:url('../images/sp6.jpg') 50% 0 repeat fixed;
	background-size:cover;
}
#box7{
	background:url('../images/sp7.jpg') 50% 0 repeat fixed;
	background-size:cover;
}
#box8{
	background:url('../images/sp8.jpg') 50% 0 repeat fixed;
	background-size:cover;
}
#box9{
	background:url('../images/sp9.jpg') 50% 0 repeat fixed;
	background-size:cover;
}

#tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
  left:60%;
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } /* Must be full height of sprite or skipping will happen.*/
}












