/*#container {
    position : relative;
    width    :100%;
}
#container img {
    position : absolute;
    width    : 100%;
    top:50%;
    left:50%;
}
*/


body, html{
	background:#000;
	width:100%;
	height:100%;
}
#header{
	width:100%;
	z-index:49;
}
#logo{
	position:absolute;
	top:50px;
	left:5%;
	z-index:51;
}
#logo img{
	width:400px;
	height:auto;
}

#slide{
	position:relative;
	width:100%;
	height:auto;
	min-width:1024px;
	min-height:500px;
	background-image:url('../images/wall_back.png');
	background-size:100% 100%;
	z-index:49;
}

#slide > .ground{
	position:absolute;
	bottom:0px;
}

#slide > #wall{
	width:100%;
	height:auto;	
}

#slide > .stool{
	width:14%;
	height:auto;
}


#slide > #bar{
	left:6%;
	width:88%;
	height:auto;
	bottom:6%;
}

#slide > #stool1{
	left:12%;
}
#slide > #stool2{
	left:24.8%;
}
#slide > #stool3{
	left:37.6%;
}
#slide > #stool4{
	left:50.5%;
}
#slide > #stool5{
	left:63.3%;
}
#slide > #stool6{
	left:76%;
}

.fridge{
	position:absolute;
	width:5%;
	height:10%;
	top:30%;
}

#ice1{
	background:#000;
	left:55%;"
}

#ice2{
	background:#fff;
	left:45%;"
}

#control{
	position:absolute;
	width:100%;
	top:40%;
	height:10%;
	opacity:0.7;
}
#control:hover{
	opacity:1;
}

#flavors{
	position:absolute;
	left:45%;
	top:15%;
	height:10%;
}

.hide{
	display:none;
}

.hit{
	display:inline;
}

#left{
	height:100%;
	width:auto;
	float:left;
}
#right{
	height:100%;
	width:auto;
	float:right;
}
#nav{
	width:100%;
	min-width:1024px;
	height:150px;
	background:#000000;
	color:#ffffff;
	z-index:50;
	text-align:center;
}

#content{
	position:relative;
	width:100%;
	min-width:1024px;
	margin-top:-5%;
	z-index:49;
}

#fold_control{
	width:10%;
	height:100%;
	margin:auto;
	background:#fff;
	cursor:pointer;
}

.box{
	width:100%;
	height:auto;;	
	text-align:center;
}

.inner_box{
	max-width:1400px;
	margin:auto;
}
#box1{
	background-image:url('../images/menu.png');
	background-size:100% 100%;
}
#box2{
	background-image:url('../images/box2.png');
	background-size:100% 100%;
}
#box2_left{
	min-width:650px;
	width:45%;
	height:100%;
	display:inline-block;
}
#box2_left img{
	width:100%;
	height:auto;
}
#box2_right{
	min-width:450px;
	width:50%;
	height:auto;
	display:inline-block;
	margin:100px 0px;
}
#box2_right img{
	min-width:200px;
	width:30%;
	padding:1% 1%;
	height:auto;
}

#tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
  left:60%;
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } /* Must be full height of sprite or skipping will happen.*/
}
