*{
	margin:0;
	padding:0;
}

body, html{
	width:100%;
	height:100%;
	background:#a38e69;
}
#header{
	position:relative;
	width:100%;
	z-index:49;
}

#logo{
	position:absolute;
	top:30px;
	left:50px;
	z-index:51;
}

#logo img{
	width:400px;
	height:auto;
}

#content{
	position:relative;
	width:100%;
	min-width:1024px;
	z-index:49;
	height:100%;
}

#nav{
	position:relative;
	width:100%;
	min-width:1024px;
	height:150px;
	background:#000000;
	color:#ffffff;
	z-index:50;
	text-align:center;
}

.link{
	display:inline-block;
	font-family: 'Ubuntu',sans-serif;
	font-weight: 300; 
	font-size:21px;
	margin-right:2%;
	height:70%;
	text-decoration: none;
	color:#fff;
}

.link:hover{
	border-bottom: 1.5px solid #CDD6C2;
}

#works{
	position:relative;
	width:70%;
	height:auto;
	text-align:center;
	margin:auto;
	padding-top:2%;
}

.thumb{
	position:relative;
	width:300px;
	height:300px;
	display:inline-block;
	z-index:10;
}

.thumb img{
	width:100%;
	height:auto;
}

.thumb .overlay{
	position:absolute;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	top:0;
	text-align:center;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index:101;
}

.overlay:hover{
	opacity:1;
}


#video_background {
position: absolute;
top:0px;
right: 0px;
min-width: 100%;
min-height: 120%;
width: auto;
height: auto;;
z-index: -1000;
overflow: hidden;
opacity:0.4;
}

#video_pattern {
background-image: url(../images/pattern.png);
position: fixed;
opacity: 1;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 1;
}

#container{
	position:relative;
	top:100px;
	max-width:1400px;
	min-width:800px;
	width:80%;
	height:90%;
	margin:auto;
	opacity:0.8;
}

#customers{
width:70%;padding-top:2%;margin:auto;text-align:center;
}
.clist{
	width:200px;display:inline-block;
}
.clist img{
	width:100%;height:auto;
}
@media screen and (max-width: 1095px) {
   #video_background{
        min-height: 230%;
    } 
}

@media screen and (max-width: 1650px) and (min-width: 1095px) {
   #video_background{
        min-height: 150%;
    } 
}